#######################################################################
#                           Global Snippets                           #
#######################################################################

# === General ===
# ------------------------------------------------
snippet email
xianglinks@gmail.com
endsnippet

snippet vfmt
vim: set sw=4 ts=4 sts=4 et tw=100 foldmarker={,} foldlevel=0 foldmethod=marker:
endsnippet
# ------------------------------------------------
