[user]
    name = Zuo Xiang
    email = xianglinks@gmail.com
[core]
    editor = vim
    whitespace = cr-at-eol
[color]
    interactive = auto
    status = auto
    diff = auto
    branch = auto
[push]
    default = simple
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
    br = branch
    co = checkout
    ci = commit
    # Repository maintenance
    mt = "!git gc && git prune && git fsck"
    st = status
    last = log -1
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Reset all uncommitted changes
    unstage = reset --hard HEAD
[commit]
	template = ~/.git_commit_msg.txt
[pull]
	rebase = false


# Commands for faster ZSH in big git repos:
#
# - git config oh-my-zsh.hide-status 1
# - git config oh-my-zsh.hide-status 1 --global
