[user]
    name = Zuo Xiang
    email = xianglinks@gmail.com
[core]
    editor = vim
    whitespace = cr-at-eol
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    navigate = true  # use n and N to move between diff sections
[color]
    interactive = auto
    status = auto
    diff = auto
    branch = auto
[push]
    default = simple
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
    br = branch
    co = checkout
    ci = commit
    # Repository maintenance
    mt = "!git gc && git prune && git fsck"
    st = status
    last = log -1
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Reset all uncommitted changes
    unstage = reset --hard HEAD
[commit]
    template = ~/.git_commit_msg.txt
[pull]
    rebase = false
