# Vim and Neovim
# ------------------
shada/
# vim-plug plugin manager
plug.vim
plug.vim.*
# dir for plugins installed with vim-plug
bundle/
.init.vim-rplugin~
spell/
.netrwhist
# dirs for backup, swap, undo and viminfo
dirs/
packer_compiled.lua
# ------------------

# Tmux TPM
# ------------------
tmux/resurrect
# plugins installed with tpm
tmux/plugins
# ------------------

# MISC
# ------------------
cmus/.config/cmus/*
!cmus/.config/cmus/rc
# Appimages in the bin folder
*.appimage
*.Appimage
*.AppImage
bin/bin/nvim
bin/bin/Joplin
bin/bin/gdbgui
# ------------------

# Backup, temporary files
# ------------------
config_backup/
*.pyc
*.bak
*.bk
# ------------------
