# Vim, Neovim, Emacs
# ------------------
shada/
# vim-plug plugin manager
plug.vim
plug.vim.old
# dir for plugins installed with vim-plug
bundle/
.init.vim-rplugin~
spell/
.netrwhist
# dirs for backup, swap, undo and viminfo
dirs/
nvim/.config/nvim/bundle/
emacs/**/elpa/
emacs/**/auto-save-list/
emacs/**/init.el/~
# ------------------

# Tmux
# ------------------
tmux/resurrect
# plugins installed with tpm
tmux/plugins
# ------------------

# MISC
# ------------------
cmus/.config/cmus/*
!cmus/.config/cmus/rc
*.appimage
*.Appimage
*.AppImage
# ------------------

# Backup, temp files
# ------------------
config_backup/
*.pyc
*.bak
*.bk
# ------------------
