# Tmux
# ------------------
tmux/resurrect
# plugins installed with tpm
tmux/plugins
# ------------------

# Vim, Neovim
# ------------------
shada/
# vim-plug plugin manager
plug.vim
plug.vim.old
# dir for plugins installed with vim-plug
bundle/
.init.vim-rplugin~
spell/
.netrwhist
# ------------------

# Backup, temp files
# ------------------
config_backup/
*.pyc
*.bak
*.bk
# ------------------
