#!/usr/bin/env sh
#
# This file runs when a DM logs you into a graphical session.
#

# Set the default Chinese input method
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS="@im=ibus"
