#######################################################################
#                           Global Snippets                           #
#######################################################################

# === General ===
# ------------------------------------------------
snippet email
xianglinks@gmail.com
endsnippet
# ------------------------------------------------
