#######################################################################
#                           Bibtex Snippets                           #
#######################################################################

# === bib ====
# -----------------------------------------------
snippet bibwlink "add a web link"
@misc{${1},
	title = {${2}},
	howpublished = {\url{}},
	note = {Accessed: }
}
endsnippet
# -----------------------------------------------
